body {
    background-color: rgb(238 238 238);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #8468f2;
    text-shadow: 2px 2px 0px white, 4px 6px 6px grey;
    background-color: #e4e4e4;
    padding-top: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

h2 {
    font-size: 24px;
    color: #af28f4;
    text-shadow: 2px 2px 0px white, 4px 6px 6px grey;
}

p{
    font-size: 22px;
}

.contact-form {
    border: 2px solid #cecece;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    box-shadow: -12px 16px 33px -8px rgba(0,0,0,0.71);
    -webkit-box-shadow: -12px 16px 33px -8px rgba(0,0,0,0.71);
    -moz-box-shadow: -12px 16px 33px -8px rgba(0,0,0,0.71);
    /* width: 560px; */
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 38px;
  }

.contact-img {
    width: 100%;
}


.contact-us-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 14px;
}

.contact-us-box {
    width: 50%;;
}

.footer {
    background-color: black;
    width: 100%;
    height: 60px;
  }
  
  .footer p {
    color: white;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
  }

.input-email {
    width: 86%;
    width: -webkit-fill-available;
    }

.input-field {
    padding: 12px;
    margin: 8px;
    width: -webkit-fill-available;
    font-family: inherit;
    font-size: 16px;
    color: #575050;
    border-radius: 4px;
    border: 1px solid black;
  }

.submit-button {
    font-size: 24px;
    background-color: #262526;
    color: #8afff7;
    text-shadow: 1px 1px 0px white;
    font-weight: bold;
}

.text-area {
    resize: none;
}





/* *************************************************************************** */
/* ******************************* MEDIA QUERY ******************************* */
/* *************************************************************************** */




@media screen and (max-width: 980px){
    .contact-us-box {
        width: 80%;
    }

}

@media screen and (max-width: 700px) {
    .contact-form {
        box-shadow: 12px 16px 18px -14px rgba(0,0,0,0.71);
        -webkit-box-shadow: -12px 16px 18px -14px rgba(0,0,0,0.71);
        -moz-box-shadow: -12px 16px 18px -14px rgba(0,0,0,0.71);
    }
    .contact-us-box {
        width: 90%;
    }

    .footer p {
        font-size: 10px;
    }
    
}

@media screen and (max-width: 450px){

    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p{
        font-size: 18px;
    }

    .contact-form {
        width: 80%;
        margin: 8px auto 24px auto;
    }
    
    .contact-us-box {
        width: 98%;
    }

    .submit-button {
        font-size: 20px;   
    }
   


}

@media screen and (max-width: 350px) {
    .contact-form {
        width: 70%;
    }

    .contact-form-container {
        width: 100%;
    }
}