*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

a {
    position: relative;
    z-index: 1000;
}
a:hover {
    cursor: pointer;
}

h1,h2{
    color: #ffbfeb;
    text-transform:uppercase;
    font-weight: bold;
}
h2{
    text-align: center;
    word-spacing:50px;
    padding-top: 20px;
    font-size:3rem;
    letter-spacing:1rem;
    text-shadow: 5px 8px 5px #e100f18f;

}
h1{
    font-size:4rem;
    font-family:sans-serif;
    letter-spacing:4rem;
    text-align:center;
    text-shadow: 6px 2px 4px rgb(144 130 165);
    line-height: 1.5;

}

p{
    margin:0;
    padding: 0;
    display: inline;
}

.firework {
    position: absolute;
    width: 25%;
    z-index: 50;
}
.firework-1 {
    top: 0px;
    left: 80px;
}
.firework-2 {
    top: 0px;
    right: 102px;
}

.grid{
    width:100%;
    position:relative;
    color:#fff365d6;
    top: 20px;
    text-align: center;
    font-size:300px;
    font-weight:bold;
    text-shadow: 5px 8px 4px #fd2525b5;
}




.main_bg{
    width:100vw;
    height: 100vh;
    /* position: absolute; */
    background-image: linear-gradient(to top,  rgba(252, 0, 126, 0.486), rgba(243, 169, 203, 0.26)), url("images/pic3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -10; */
}

.main-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
} 

.mask {
    position: relative;
    width: 180px;
    left: -6px;
    top: 18px;
    filter: drop-shadow(5px 8px 4px #fd2525b5);
}

.my-wish {
    opacity: 0;
    display: none;
    position: fixed;
    right: 150px;
    bottom: 50px;
}
.my-wish img {
    width: 200px; 
}



/* .my-wish {
    opacity: 0;
    color:crimson;
    font-size: 24px;
    font-weight: 700;
    display: hidden;
    text-decoration: none;
    text-align:  right;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0% {
        text-shadow: 2px 2px 1px yellow;
    }
    50% {
        text-shadow: 2px 2px 1px rgb(247, 247, 245);
    }
    100% {
        text-shadow: 2px 2px 1px yellow;
    }
} */

.petal {
    width: 100%;
    opacity: 0.7;
}

.petal-gif-container {
    width: 98%;
    height: 100vh;
    position : absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 100;
}



.signature {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -16px; 
}

.signature p {
    font-size: 16px;
    display: block;
    text-align: center;
    color:rgba(241, 225, 225, 0.654);
}


.twenty-twenty {
    display: inline;
    letter-spacing: 40px;
}

/* display-none should be placed after twenty-twenty class selector */
.display-none {
    display: none;
    opacity: 0;
}

.vaccine {
    position: relative;
    height: 245px;
    width: auto;
    top: 26px;
    left: 0px;
    z-index: 5;
    filter: drop-shadow(5px 8px 4px #fd2525b5);
}



/* *************************************************************************** */
/* ******************************* MEDIA QUERY ******************************* */
/* *************************************************************************** */

/* FOR SCREEN LESS THAN 1500px */

@viewport {
    width: device-width;
    zoom: 1;
}

@media screen and (max-width: 1500px){

    .grid {
        font-size: 180px;
    }

    .mask {
        width: 124px;
    }

    .signature {
        top: 34px;
        position: relative;
    }

    .vaccine {
        height: 170px;
        top: 17px;
    }
}

@media screen and (max-width: 980px){

    h1 {
        font-size: 56px;
    }
 
    h2 {
        font-size: 32px;
    }


    .grid {
        font-size: 180px;
        top: 14px;
    }

    .signature {
        top: 0px;
        position: relative;
    }

    .vaccine {
        height: 170px;
        top: 17px;
    }

}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 48px;
        letter-spacing: 20px;
    }
 
    h2 {
        font-size: 28px;
    }

    .firework-1 {
        top: 80px;
        left: 20px;
    }

    .firework-2 {
        top: 80px;
        right: 24px;
    }

    .grid {
        font-size: 120px;
        top: 40px;
    }

    .mask {
        width: 80px;
    }

    .petal {
        width: 180vw;
    }

    .twenty-twenty {
        letter-spacing: 30px;
    }

    .signature {
        top: 20px;
        position: relative;
    }

    .vaccine {
        height: 98px;
        top: 12px;
        left: -8px;
    }

}

@media screen and (max-width: 450px){
    h1 {
        font-size: 42px;
        letter-spacing: 20px;
        color: #ffbfeb;
    }
 
    h2 {
        font-size: 28px;
        color: #ffbfeb;
        text-shadow: 5px 4px 5px #780a80ba;
    }

    .firework-1 {
        top: 60px;
        left: 20px;
    }

    .firework-2 {
        top: 60px;
        right: 24px;
    }

    .grid {
        font-size: 120px;
        top: 50px;
    }

    .mask {
        width: 74px;
        left: -6px;
        top: 10px;
    }

    /* .my-wish {
        font-size: 16px;
        display: inline;
        position: fixed;
        letter-spacing: 3px;
        right: 30px;
        bottom: 30px;
    } */

    .my-wish {
        position: fixed;
        right: 30px;
        bottom: 30px;
    }

    .my-wish img {
        width: 70px;
    }

    .petal {
        width: 180vw;
    }

    .signature {
        top: 102px;
        position: relative;
        width: 90%;
    }

    .signature p {
        font-size: 11px;
    }


    .twenty-twenty {
        letter-spacing: 14px;
    }

    .vaccine {
        height: 96px;
        top: 7px;
        left: -8px;
    }

}

@media screen and (max-width: 250px) {
    
    
    .grid {
        font-size: 66px;
    }

    .mask {
        width: 42px;
        left: -5px;
        top: 9px;
    }

    .twenty-twenty {
        letter-spacing: 5px;
    }
}

